/* Importa las directivas base de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplica los estilos base de nuestro 'tailwind.config.js' al body.
  Tailwind reemplazará automáticamente 'bg-background' y 'text-foreground'
  con los colores que definimos en el 'theme'.
*/
@layer base {
  body {
    @apply bg-background text-foreground;
    
    /* Aplica la fuente 'body' (Lato) que definimos en el config.
      'font-sans' (Inter) será el fallback o la usada para títulos si así lo decidimos.
    */
    @apply font-body; 

    /* Mejoras de renderizado de fuentes */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Estilos base para títulos, si queremos que usen la fuente sans-serif (Inter) */
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }

  /* Oculta el scroll-x si algún elemento se desborda */
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}